<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-item/paper-item-body.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../aba-tagcloud/aba-tagcloud.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../abas-localize-mixin/abas-localize-mixin.html">
<dom-module id="aba-add-widget">
<script>
	/**
	 * A List of widgets which can be used to drag new Widgets on the Dashboard. This is the only way to get new Widgets on the dashboard.
	 * @demo demo/index.html
	 */
	class AbaAddWidget extends Polymer.AbasLocalizeMixin(Polymer.Element) {

		static get style() {
			return `
			#dialog {
				width: 50vw;
			}
			.header .author,
			.header .version {
				font-size: 12px;
			}
			.header .author .text, .header .version .text {
				font-weight: bold;
			}
			.description {
				@apply --abas-font-body1;
				/* max-height: 200px; */
				white-space: normal;
			}

			.preview img {
				padding-top: 20px;
				max-width: 80%;
				
			}
			#closeLibraryBtn {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0;
				margin: 0;
			}

			#widget_list {
				text-align: left;
			}

			paper-card {
				margin: 10px 0 20px 0;
				width: 100%;
			}

			#addWidgetBtn {
				@apply --shadow-elevation-2dp;
				border-radius: 50%;
				position: absolute;
				right: 40px;
				bottom: -20px;
				--paper-icon-button: {
					background-color: var(--abas-abasgreen-300);
					color: white;
				}
				;
			}
			paper-toast {
				margin-left: calc(50vw - 150px);
				margin-top: 300px;
				width: 10%;
				height: 5%;
			}
			paper-card {
				--paper-card-header-text: {
					@apply --abas-font-headline;
					background: #F9F9F9;
				}
			}`;
		}

		static get item() {
			return `
			<paper-card heading="[[_getTranslation(item.label)]]">
				<div class="card-content">
					<div class="header">
						<div class="version">
							<span class="label">Version</span>
							<span class="text">[[item.version]]</span>
						</div>
						<div class="author">
							<span class="label">Author</span>
							<span class="text">[[item.author]]</span>
						</div>
					</div>
					<div class="description">[[_getTranslation(item.description)]]</div>
					<template is="dom-if" if="[[_hasPreview(item)]]">
						<div class="preview">
							<img src="[[item.preview]]" loading="lazy">
						</div>
					</template>
					<aba-tagcloud tags="[[item.tags]]"></aba-tagcloud>
					<template is="dom-if" if="[[!item.deprecated]]">
						<paper-icon-button id="addWidgetBtn" icon="add" on-tap="_addToBoard"></paper-icon-button>
					</template>
					<paper-toast id="toast" text="[[localize('toast')]]" duration="1000"></paper-toast>
				</div>
			</paper-card>`;
		}

		static get content() {
			return `
			<paper-dialog id="dialog" modal>
				<h2>[[localize("widget_lib")]]</h2>
				<paper-icon-button id="closeLibraryBtn" dialog-dismiss icon="close" class="closeBtn"></paper-icon-button>
				<paper-input autofocus type="search" placeholder="[[localize('search')]]" value="{{_searchString}}">
					<iron-icon icon="search" slot="prefix"></iron-icon>
				</paper-input>
				<paper-dialog-scrollable>
					<div id="widget_list">
						<template is='dom-repeat' items="[[_widgetListFiltered]]">
							${this.item}
						</template>
					</div>
				</paper-dialog-scrollable>
				<div class="buttons">
					<paper-button raised dialog-dismiss>[[localize("close")]]</paper-button>
				</div>
			</paper-dialog>`;
		}

		static get template() {
			return `
			<style is="custom-style">${this.style}</style>
			${this.content}`
		}

		static get is() {
			return 'aba-add-widget';
		}

		static get properties() {
			return {
				/**
				 * Array of Widgets which can be Droped on the Dashboard.
				 * Serves as internal data base
				 */
				widgetList: {
					type: Array,
					value: []
				},
				/**
				 * A subset of widgetList to display after filters are applied.
				 */
				_widgetListFiltered: {
					type: Array,
					value: []
				},
				/**
				 * a search string tp filter 
				 */
				_searchString: {
					type: String,
					value: ''
				},
				/**
				 * The Id of the dashboard this add widget is responsible
				 */
				forDashboard: {
					type: String
				},
				url: {
					value: "widgets.json"
				}
			}
		}

		static get observers() {
			return [
				'_filterList(widgetList, _searchString)'
			]
		}
		/*
		 * API
		 */
		async open() {
			await this._addWidgetsToLibrary();
			Polymer.RenderStatus.afterNextRender(this, () => {
				this.$.dialog.open();
			})
		}
		close() {
			this.$.dialog.close();
		}
		/**
		 * LIFECYCLE
		 */
		ready() {
			super.ready();
		}
		connectedCallback() {
			super.connectedCallback();
			this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
		}
		disconnectedCallback() {
			super.disconnectedCallback();
		}
		/**
		PRIVATE
		*/
		/**
		 * Copies and sets the widgetList
		 * @param {Array} widgetLibrary
		 * @private
		 */
		async _addWidgetsToLibrary() {
			let result = await auth0Fetch("widgets.json")
			if (result.ok) {
				let widgetList = await result.json();
				this.set('widgetList', widgetList);
			}
		}
		/**
		 * Filters the currents widgets for given searchword
		 */
		_filterList() {
			if (this._searchString === '') {
				this.set('_widgetListFiltered', this.widgetList);
			} else {
				let filterExpression = new RegExp(this._searchString.split(' ').join('|'), 'gi');
				let _widgetListFiltered = this.widgetList.filter((widget) => {
					widget._matches = [];
					let keys = Object.keys(widget);
					let found = false;
					keys.forEach((key) => {
						if (typeof widget[key] === "string" && widget[key].match(filterExpression)) {
							widget._matches.push(...widget[key].match(filterExpression));
							found = true;
						} else if (typeof widget[key] === "object" && key === "tags") {
							widget[key].forEach((tag) => {
								if (tag.text.match(filterExpression)) {
									found = true;
									widget._matches.push(...tag.text.match(filterExpression));
								}
							})
						}
					})
					return found;
				});
				this.set('_widgetListFiltered', _widgetListFiltered.sort((a, b) => {
					if (a._matches.length > b._matches.length) {
						return -1;
					}
					if (a._matches.length == b._matches.length) {
						return 0;
					}
					if (a._matches.length < b._matches.length) {
						return 1;
					}
				}).map(widget => {
					delete widget._matches;
					return widget
				}));
			}
		}

		/**
		 * Check if widget has Tags
		 * @param {Object} widget The widget which need to be checked
		 * @return {boolean}
		 * @private
		 */
		_hasTags(item) {
			return item.hasOwnProperty('tags')
		}

		/**
		 * Check if widget has preview image
		 * @param {Object} widget The widget which need to be checked
		 * @return {boolean}
		 * @private
		 */
		_hasPreview(item) {
			return item.hasOwnProperty('preview')
		}
		/**
		 * Event Handler
		 */
		/**
		 * Clears the search
		 */
		_clearSearch() {
			this.set('_searchString', '')
		}
		_getTranslation(translatable) {
			if(typeof translatable === "string") {
				return translatable;
			} 
			if(typeof translatable === "object") {
				return translatable[this.language] || translatable[this.fallbackLanguage];
			}
		}

		/**
		 * EVENTS
		 */
		/**
		 * @event 'add-widget'
		 * @param {Object} Widget The widget to add
		 */
		_addToBoard(event) {
 			var toast = Polymer.dom(this.root).querySelector("#toast");
			toast.open();
			let widgetData = JSON.parse(JSON.stringify(event.model.item));
			let addWidgetEvent = new CustomEvent('add-widget', {
				bubbles: true,
				composed: true,
				detail: {
					dashboardId: this.forDashboard,
					widget: widgetData
				}
			});
			this.dispatchEvent(addWidgetEvent)
		}
	}

	customElements.define(AbaAddWidget.is, AbaAddWidget);
</script>
</dom-module>